# VacationPy
----
#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import gmaps.datasets

# Import API key
from api_keys import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
#load the csv
cities = "city_data.csv"
cities_df = pd.read_csv(cities)
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Xining,36.6167,101.7667,42.46,51,10,4.61,CN,1613021127
1,Bridlington,54.0831,-0.1919,34.00,68,95,5.01,GB,1613021128
2,Kidal,18.4411,1.4078,68.40,20,54,10.02,ML,1613021128
3,Pevek,69.7008,170.3133,-18.36,72,0,1.61,RU,1613021128
4,Rikitea,-23.1203,-134.9692,78.44,79,2,14.25,PF,1613021128

In [4]:
#store latitude and longitude in cities_locations
cities_location = cities_df[["Lat", "Lng"]].astype(float) 
humidity = cities_df["Humidity"].astype(float)

In [5]:
#ploting the humidity heatmap

fig = gmaps.figure()
max_intensity = np.max(humidity)

heat_layer = gmaps.heatmap_layer(cities_location, weights=humidity, max_intensity = 100, dissipating=False, point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
#narrow with conditions Max Temp > 70 AND <80, Wind Speed <=10 and Cloudiness < 15.

narrow_cities_df = cities_df.loc[(cities_df["Max Temp"] > 70) & 
                                 (cities_df["Max Temp"] < 80) & 
                                 (cities_df["Wind Speed"] <= 10) &
                                 (cities_df["Cloudiness"] < 15)].dropna() 

narrow_cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
29,Acapulco de Ju√°rez,16.8634,-99.8901,74.46,80,0,6.91,MX,1613021136
45,Christchurch,-43.5333,172.6333,77.00,25,0,8.05,NZ,1613021043
55,Manta,-0.9500,-80.7333,77.00,88,0,2.30,EC,1613021142
58,Puerto Escondido,15.8500,-97.0667,76.64,74,0,6.40,MX,1613021143
89,Belmonte,-15.8631,-38.8828,71.60,94,0,3.44,BR,1613021152
130,Kruisfontein,-34.0033,24.7314,72.00,89,14,1.01,ZA,1613021179
134,East London,-33.0153,27.9116,71.60,94,0,6.91,ZA,1613021116
141,Tura,25.5198,90.2201,78.39,29,0,3.71,IN,1613021181
149,Maragogi,-9.0122,-35.2225,76.95,87,13,7.87,BR,1613021184
154,Hong Gai,20.9560,107.0946,73.40,49,0,4.61,VN,1613021185
161,General Roca,-39.0333,-67.5833,73.40,46,0,8.05,AR,1613021188
209,Lima,-12.0432,-77.0282,75.99,69,0,6.91,PE,1613021104
216,Boa Vista,2.8197,-60.6733,77.00,69,0,6.91,BR,1613021110
253,Manaure,11.7751,-72.4445,74.37,81,0,8.50,CO,1613021223
256,BƒÅsƒÅr,27.9833,94.6667,76.14,28,2,0.49,IN,1613021224
282,Wanning,18.8003,110.3967,71.91,59,1,7.87,CN,1613021230
322,Gohadi,26.4261,78.4447,74.79,40,0,0.96,IN,1613021256
330,Acajutla,13.5928,-89.8275,76.84,73,1,5.44,SV,1613021257
342,SarishƒÅbƒÅri,24.7333,89.8333,73.17,40,0,2.64,BD,1613021260
357,Florian√≥polis,-27.6146,-48.5012,71.60,88,0,3.44,BR,1613021034
406,Les Cayes,18.2000,-73.7500,74.26,79,1,3.74,HT,1613021292
410,Salalah,17.0151,54.0924,77.00,38,0,9.22,OM,1613021252
421,Road Town,18.4167,-64.6167,75.00,89,12,3.00,VG,1613021296
439,MƒÅnsa,29.9833,75.3833,73.24,24,0,2.51,IN,1613021301
491,Pisco,-13.7000,-76.2167,71.60,78,0,5.75,PE,1613021314
506,Sittwe,20.1500,92.9000,79.47,33,0,3.85,MM,1613021189

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
#create hotel_df to store info
hotel_df = narrow_cities_df.loc[:,["City","Country", "Lat", "Lng"]]

#create and add the nuew column named Hotel Name to the df
hotel_df["Hotel Name"] = ""

hotel_df

                   City Country      Lat       Lng Hotel Name
29   Acapulco de Ju√°rez      MX  16.8634  -99.8901
45         Christchurch      NZ -43.5333  172.6333
55                Manta      EC  -0.9500  -80.7333
58     Puerto Escondido      MX  15.8500  -97.0667
89             Belmonte      BR -15.8631  -38.8828
130        Kruisfontein      ZA -34.0033   24.7314
134         East London      ZA -33.0153   27.9116
141                Tura      IN  25.5198   90.2201
149            Maragogi      BR  -9.0122  -35.2225
154            Hong Gai      VN  20.9560  107.0946
161        General Roca      AR -39.0333  -67.5833
209                Lima      PE -12.0432  -77.0282
216           Boa Vista      BR   2.8197  -60.6733
253             Manaure      CO  11.7751  -72.4445
256               BƒÅsƒÅr      IN  27.9833   94.6667
282             Wanning      CN  18.8003  110.3967
322              Gohadi      IN  26.4261   78.4447
330            Acajutla      SV  13.5928  -89.8275
342         SarishƒÅbƒÅri      BD  24.7333   89.8333
357       Florian√≥polis      BR -27.6146  -48.5012
406           Les Cayes      HT  18.2000  -73.7500
410             Salalah      OM  17.0151   54.0924
421           Road Town      VG  18.4167  -64.6167
439               MƒÅnsa      IN  29.9833   75.3833
491               Pisco      PE -13.7000  -76.2167
506              Sittwe      MM  20.1500   92.9000

In [8]:
#making the request to find hotel near to the places on the df

for index, row in hotel_df.iterrows():
    try:
        
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

        lat = row['Lat']
        lng = row['Lng']
        
        params['location'] = f"{lat}, {lng}"
        
        hotel_data = requests.get(base_url, params=params).json()
        
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
        
    except (KeyError, IndexError):
        
        hotel_df.loc[index, "Hotel Name"] = "Not available"
        
hotel_df

,City,Country,Lat,Lng,Hotel Name
29,Acapulco de Ju√°rez,MX,16.8634,-99.8901,Torres Gemelas
45,Christchurch,NZ,-43.5333,172.6333,Fendalton Park Luxury Accommodation
55,Manta,EC,-0.9500,-80.7333,Hotel Vistalmar
58,Puerto Escondido,MX,15.8500,-97.0667,Selina Puerto Escondido
89,Belmonte,BR,-15.8631,-38.8828,Pousada do Diogo
130,Kruisfontein,ZA,-34.0033,24.7314,Not available
134,East London,ZA,-33.0153,27.9116,Blue Lagoon Hotel
141,Tura,IN,25.5198,90.2201,Hotel Polo Orchid
149,Maragogi,BR,-9.0122,-35.2225,Pousada dos Jangadeiros
154,Hong Gai,VN,20.9560,107.0946,Wyndham Legend Halong Hotel
161,General Roca,AR,-39.0333,-67.5833,Estepa Hotel
209,Lima,PE,-12.0432,-77.0282,Hotel Vox69 Suites
216,Boa Vista,BR,2.8197,-60.6733,Hotel Orla do Rio Branco
253,Manaure,CO,11.7751,-72.4445,Del mar vendra
256,BƒÅsƒÅr,IN,27.9833,94.6667,Not available
282,Wanning,CN,18.8003,110.3967,Huangqi Hotel
322,Gohadi,IN,26.4261,78.4447,Not available
330,Acajutla,SV,13.5928,-89.8275,Villavela Hotel Boutique
342,SarishƒÅbƒÅri,BD,24.7333,89.8333,‡¶∏‡ßá‡¶ú‡¶®‡ßÅ ‡¶π‡ßã‡¶ü‡ßá‡¶≤
357,Florian√≥polis,BR,-27.6146,-48.5012,Majestic Palace Hotel
406,Les Cayes,HT,18.2000,-73.7500,Villa Orphee
410,Salalah,OM,17.0151,54.0924,HYATT SALALAH HOTEL
421,Road Town,VG,18.4167,-64.6167,Wyndham Tortola BVI Lambert Beach Resort
439,MƒÅnsa,IN,29.9833,75.3833,Hotel Romanza
491,Pisco,PE,-13.7000,-76.2167,HOSTAL MIRAMAR
506,Sittwe,MM,20.1500,92.9000,Shwe Thazin Hotel

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))